*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
h2{
    text-align: center;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    font-variant: small-caps;
    color: #fff;
}
.con{
    font-size: 15px;
    color: #fff;
    float: right;
    padding: 10px;
    text-decoration: none;
}
.con:hover{
    color: rgb(139, 139, 139);
}
    .galeria{
        min-height: 1300px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        display: grid;
        gap: 10px;
        padding: 20px;
    }

.img{
    border: 2px solid rgb(0, 0, 0);
    animation-name: foto;
    animation-delay: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.img:hover{
    transform: scale(1.01);
}
.img1{
    background-size: cover;
    background-position: center;
    background-image: url(/img/traje.jpg);
}
.img2{ 
    background-size: cover;
    background-position: center;
    background-image: url(/img/nicobb.jpg);
}
.img3{
    background-size: cover;
    background-position: center;
    background-image: url(/img/lindo.jpg);
}
.img4{
    background-size: cover;
    background-position: center;
    background-image: url(/img/nata.jpg);
}
.img5{
    background-size: cover;
    background-position: center;
    background-image: url(/img/normal1.jpg);
}
.img6{
    background-size: cover;
    background-position: center;
    background-image: url(/img/nicoamor.jpg);
}
.img7{
    background-size: cover;
    background-position: center;
    background-image: url(/img/niconiño.jpg);
}
.img8{
    background-size: cover;
    background-position: bottom;
    background-image: url(/img/niki.jpg);
} 

@media only screen and (min-width:768px){
    .img1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .img5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .img6{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img8{
        grid-column: 3/5;
        grid-row: 3/4;
    }
}
.subir{
    height: 40px;
    width: 40px;
    background-color: orange;
    border: 5px solid #fff;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px;
}

/* contacto*/
fieldset{
    text-align: left;
    width: 11%;
    padding: 9px;
}
.h23{
    text-align: center;
    font-size: 22px;
}
header{
    background-color: black;
    height: 65px;
    width: 100%;
    font-size: 21px;
    padding: 20px;
}
.nav{
    text-decoration: none;
    color: #fff;
}
.nav:hover{
    color: rgb(147, 142, 142);
}
.transition{
    height: 100px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
#t1{
    transition: all 2s;
    background-image: url(/img/leon.jpg);
    background-position: center;
    background-size: cover;
}
#t1:hover{
    height: 200px;
}
/* africa*/
.img{
    border: 2px solid rgb(0, 0, 0);
    transition: all 2s;
}
.img:hover{
    transform: scale(1.01);
}
.img11{
    background-size: cover;
    background-position: center;
    background-image: url(/img/africa.jpg);
}
.img22{
    background-size: cover;
    background-position: center;
    background-image: url(/img/desert.jpg);
}
.img33{
    background-size: cover;
    background-position: center;
    background-image: url(/img/kayac.jpg);
}
.img44{
    background-size: cover;
    background-position: center;
    background-image: url(/img/lemur.jpg);
}
.img55{
    background-size: cover;
    background-position: center;
    background-image: url(/img/leon.jpg);
}
.img66{
    background-size: cover;
    background-position: center;
    background-image: url(/img/leon2.jpg);
    transition: all 2s;
}
.img77{
    background-size: cover;
    background-position: center;
    background-image: url(/img/niño.jpg);
}
.img88{
    background-size: cover;
    background-position: bottom;
    background-image: url(/img/persona.jpg);
} 

@media only screen and (min-width:768px){
    .img11{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img22{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .img33{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .img44{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img55{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img66{
        grid-column: 4/5;
        grid-row: 2/4;
    }
    .img77{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img88{
        grid-column: 2/4;
        grid-row: 3/4;
    }
}